<%- include('./partials/head.ejs') %>
<body>
    
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <div class="container mt-3 w-75">
            <div class="row">
                <div class="col-4">
                    <div class="card text-center" title="Operational System">
                        <div class="mt-2"><%- icon %></div>
                        <div class="card-body">
                          <h5 class="card-title">OS</h5>
                          <p class="card-text" style="height: 45px;"><%= platform %></p>
                          <a href="/os" class="btn btn-primary">more info...</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" title="Central Processing Unit">
                        <div class="mt-2">
                            <i class="fa-solid fa-microchip fa-4x"></i>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">CPU</h5>
                          <p class="card-text" style="height: 45px;"><%= cpu %></p>
                          <a href="/cpu" class="btn btn-primary">more info...</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" title="Memory">
                        <div class="mt-2">
                            <i class="fa-solid fa-memory fa-4x"></i>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Memory</h5>
                          <p class="card-text" style="height: 45px;"><%= freemem %> (free)</p>
                          <a href="/memory" class="btn btn-primary">more info...</a>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>

</body>

</html>