<%- include('./partials/head.ejs') %>
<body>
    
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <div class="container mt-3">
            <div class="row">
                <div class="card text-center" style="height: 100%;" title="Operational System">
                    <div class="mt-2">
                        <%- icon %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">OS</h5>
                      <div class="card-text" style="height: 100%;">
                        <p>Platform: <%= platform %></p>
                        <p>Version: <%= version %></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>